@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";


@theme{
  --color-primary:#000640;
  --color-secondary:#2B6CB0;
  --color-white:#ffffff;
  --color-black:#000000;
  --color-heading:#000640;
  --color-content:#333333;
  --color-grayBg:#F3F4F6
}

html{
  font-family: inter;
}

.footer-link {
  @apply text-black hover:text-white transition-all duration-200 cursor-pointer;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(24px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}

.animate-delay-200 {
  animation-delay: 0.2s;
}

.animate-delay-400 {
  animation-delay: 0.4s;
}

.animate-delay-600 {
  animation-delay: 0.6s;
}

